<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>룸 리스트</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>
<body>
  <h1>룸 리스트</h1>
  <ul>
    <li>
      <label>체크인 : </label>
      <input type="text" name="checkin" required />
    </li>
    <li>
      <label>체크아웃 : </label>
      <input type="text" name="checkout" required />
    </li>
    <li>
      <label>박 : </label>
      <input type="text" name="dayNight" required />
    </li>
    <li>
      <label>인원 : </label>
      <input type="text" name="person" required />
    </li>
    <li>
      <button class="checkRoom">조회하기</button>
    </li>
  </ul>
  <div>
    <!-- <form action="/reserveRoom" method="post">
      <ul>
        <li>
          <label>방 이름 : </label>
          <input type="text" name="roomName" required />
        </li>
        <li>
          <label>방 가격 : </label>
          <input type="text" name="roomPrice" required />
        </li>
        <li>
          <label>최소인원 : </label>
          <input type="text" name="roomMinPerson" required />
        </li>
        <li>
          <label>최대인원 : </label>
          <input type="text" name="roomMaxPerson" required />
        </li>
        <li>
          <input type="submit" value="예약하기" />
        </li>
      </ul>
    </form> -->
  </div>
    
  <script>
    let roomName = document.querySelector("input[name=roomName]");
    let checkin = document.querySelector("input[name=checkin]");
    let checkout = document.querySelector("input[name=checkout]");
    let dayNight = document.querySelector("input[name=dayNight]");
    let person = document.querySelector("input[name=person]");
    let checkRoom_btn = document.querySelector(".checkRoom");

    $(function() {
      $.ajax({
        type:"get",
        url: "/getRoomList",
        dataType: "json",
        success: function(result) {
          let output = "";

          result.roomList.forEach((r) => {
            output += `<form action="/reserveRoom" method="post">
                        <ul>
                          <li>
                            <label>방 이름 : </label>
                            <input type="text" name="roomName" value="${r.roomName}" required />
                          </li>
                          <li>
                            <label>방 가격 : </label>
                            <input type="text" name="roomPrice" value="${r.roomPrice}" required />
                          </li>
                          <li>
                            <label>최소인원 : </label>
                            <input type="text" name="roomMinPerson" value="${r.roomMinPerson}" required />
                          </li>
                          <li>
                            <label>최대인원 : </label>
                            <input type="text" name="roomMaxPerson" value="${r.roomMaxPerson}" required />
                          </li>
                          <li>
                            <input type="submit" value="예약하기" />
                          </li>
                        </ul>
                      </form>`;
          });
          document.querySelector("div").innerHTML = output;
        }
      });
    });


    checkRoom_btn.addEventListener('click', function(e) {
      e.preventDefault();

      $.ajax({
        type: "post",
        url: "/checkRoom",
        dataType: "json",
        data: {
          checkin: checkin.value,
          checkout: checkout.value,
          dayNight: dayNight.value,
          person: person.value
        },
        success: function(result) {
          let output = "";
          if(result.checkRoomList != null){
            result.checkRoomList.forEach((r) => {
              output += `<form action="/reserveRoom" method="post">
                          <ul>
                            <li>
                              <label>방 이름 : </label>
                              <input type="text" name="roomName" value="${r.roomName}" required />
                            </li>
                            <li>
                              <label>방 가격 : </label>
                              <input type="text" name="roomPrice" value="${r.roomPrice}" required />
                            </li>
                            <li>
                              <label>최소인원 : </label>
                              <input type="text" name="roomMinPerson" value="${r.roomMinPerson}" required />
                            </li>
                            <li>
                              <label>최대인원 : </label>
                              <input type="text" name="roomMaxPerson" value="${r.roomMaxPerson}" required />
                            </li>
                            <li>
                              <input type="submit" value="예약하기" />
                            </li>
                          </ul>
                        </form>`;
            });
          }else {
            output += `<h1>예약가능한 객실이 없습니다.</h1>`
          }
          document.querySelector("div").innerHTML = output;
        }
      });
    });
  </script>
</body>
</html>